.dashboard-container {
  margin-left: 15px; /* Add margin to adjust for the side navbar */
  padding: 20px;
}

.tasks-section-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.tasks-section-header {
  margin-bottom: 15px;
}

.tasks-section {
  margin-top: 20px;
}

.tasks-for-day {
  margin-bottom: 30px;
}

.tasks-for-day h4 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.task-item {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.task-item h5 {
  font-size: 1rem;
  color: #000000;
  margin: 0 0 5px 0;
}

.task-item p {
  margin: 5px 0;
  color: #666;
}
