/* NavigationBar.css */

/* Navigation Bar styling */
.navigation-bar {
  width: 260px;
  height: 100vh;
  background-color: #cce7ff; /* Light blue background */
  padding-top: 20px;
  position: fixed;
}

.navigation-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation-links li {
  padding: 10px 20px;
}

/* Updated styling for navigation links */
.navigation-links a,
.logout-link {
  text-decoration: none;
  font-size: 1rem;
  color: #333;
  font-weight: 500;
  border: none;
  background: none;
  cursor: pointer;
  display: block;
  padding: 10px 0;
  width: 100%;
  text-align: left;
}

.navigation-links a:hover,
.logout-link:hover {
  color: #007bff;
}
